{% extends "entity/base.html" %}


{% block content %}
<h1>{{ entity.true_name }}</h1>

<p><strong>ID:</strong> {{ entity.pk }}</p>
<p><strong>Created:</strong> {{ entity.date_created }}</p>
<p><strong>access visibility:</strong> {{ entity.get_visibility_display }}</p>

{% if entity.basic_data_file_path %}
<p>
    <strong>File:</strong>
    <a href="{{ entity.basic_data_file_path.url }}">Download</a>
</p>
{% endif %}

<p>
    <a href="{% url 'entity:web-entity-edit' entity.pk %}">Edit</a> |
    <!--<a href="{% url 'entity:web-entity-members' entity.pk %}">Manage Members</a>-->
    <a href="{% url 'entity:web-entity-detail' entity.pk %}">View</a></td>
   
    {% if user_role == "OWNER" %}
    <form method="post" action="{% url 'entity:web-entity-delete' entity.pk %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    {% endif %}


</p>
<p>Role: {{ user_role }}</p>

<h2>Members</h2>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Role</th>
            <th>Joined</th>
        </tr>
    </thead>
    <tbody>
        {% for membership in memberships %}
        <tr>
            <td>{{ membership.user.username }}</td>
            <td>{{ membership.role }}</td>
            <td>{{ membership.date_joined }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No members found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}